RewriteEngine On

# Mengaktifkan FollowSymLinks jika diperlukan oleh server
Options +FollowSymLinks

# Jangan ubah request jika file fisik atau folder memang ada
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d

# Arahkan semua request lain ke index.php secara relatif
# (Aturan ini akan bekerja di folder mana pun tanpa RewriteBase)
RewriteRule ^(.*)$ index.php?page=$1 [L,QSA]